body{background-color: 123456}
.containter{
    background-color: white;
    margin-top: 24px;
}
.header {
    box-shadow: 5px 5px 25px 8px grey;
    padding: 25px;
}
footer {
    text-align:center;
    padding: 15px;
}